* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #f5f5f7;
  font-family: 'Montserrat', sans-serif !important;
}

.section-5g {
  overflow: hidden;
  margin-top: 1425px;
  background: #000;
  text-align: center;
  min-height: 100vh;
  padding-bottom: 500px;
}
.section-5g__heading {
  text-align: center;
  margin-bottom: 115px;
  position: relative;
}

.shade {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  top: 0;
  left: 0;
}

.section-5g__heading h1 {
  color: #6e6e73;
  font-size: 80px;
  line-height: 1.05;
  font-weight: 600;
  letter-spacing: -0.015em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

.section-5g__heading p {
  color: #f5f5f7;
  font-size: 80px;
  line-height: 1.05;
  font-weight: 600;
  letter-spacing: -0.015em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

.section-5g .screen {
  margin: 0 auto;
  width: 770px;
  height: 1336px;
  display: block;
  box-sizing: border-box;
  padding: 80px 20px 20px 20px;
  background: url("./5g_on_phone__qxgc670fz2aa_large.jpg") center center/100%
    auto no-repeat;
}

.downloads {
  padding-left: 75px;
  padding-right: 25px;
}

.download {
  opacity: 0;
  transform: translateY(200px) scaleX(3) scaleY(3);
  list-style-type: none;
}

.screen ul {
  margin-top: 16px;
  border-top: 1px solid rgba(66, 66, 66);
}

.screen li {
  padding: 12px 0;
}

.section-5g .section-intro {
  position: relative;
  z-index: 5;
  margin-top: -170px;
  color: #a1a1a6;
}

.typography-section-intro {
  font-size: 24px;
  line-height: 1.16667;
  font-weight: 600;
  letter-spacing: 0.009em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

.large-centered {
  margin-left: auto;
  margin-right: auto;
}

.large-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.section-5g .innovation-block {
  margin-top: 96px;
}

.section-5g .innovation-block,
.section-5g .modal-button-wrapper {
  position: relative;
  z-index: 5;
}

.innovation-callout {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.typography-innovation-copy-gradient {
  font-size: 32px;
  line-height: 1.125;
  font-weight: 600;
  letter-spacing: 0.004em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

.gradient-text {
  display: inline-block;
  width: 100%;
  color: transparent;
  background-image: linear-gradient(to right, #005e7f, #61b6cd);
  -webkit-background-clip: text;
  background-clip: text;
}

.player-wrapper__player,
#player {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.section-video .section-headline {
  color: #86868b;
}

.player__slide {
  height: 100vh;
  position: relative;
}

.player__slides {
  position: relative;
  /* height: 100vh; */
  overflow: hidden;
}

.player-wrapper {
  height: 100vh;
}

.player-wrapper__ui,
.player-wrapper__hardware {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.player-wrapper__ui {
  width: 220%;
  height: 220%;
  background: url("./video_edit_screen__ejj4z8l3wok2_large.jpg") center
    center/100% auto no-repeat;
}
.player-wrapper__hardware {
  width: 230%;
  height: 230%;
  background: url("./video_edit_hardware_zoomed__ffv2319j68i2_large.png") center
    center/100% auto no-repeat;
}

.player__heading {
  color: #f5f5f7;
  flex-direction: column;
  padding-left: 20%;
  padding-top: 20%;
  /* background-color: rgba(0, 0, 0, 0.8); */
}

.typography-section-headline-elevated-alt-2 {
  font-size: 80px;
  line-height: 1.05;
  font-weight: 600;
  letter-spacing: -0.015em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

.player__text {
  color: #fff;
  /* background-color: rgba(0, 0, 0, 0.8); */
  display: flex;
  align-items: center;

  font-size: 32px;
  line-height: 1.125;
  font-weight: 600;
  letter-spacing: 0.004em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  padding-left: 20%;
}

.player__text p {
  max-width: 58.33333%;
}

.player__heading,
.player__text {
  pointer-events: none;
}

.typography-section-headline-alt {
  max-width: 50%;
  color: #f5f5f7;
  font-size: 64px;
  line-height: 1.0625;
  font-weight: 600;
  letter-spacing: -0.009em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

.typography-section-intro-reduced {
  max-width: 50%;
  color: #86868b;
  margin-top: 25px;
  font-size: 24px;
  line-height: 1.16667;
  font-weight: 600;
  letter-spacing: 0.009em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

.large-4 {
  flex-basis: 33.33333%;
  max-width: 33.33333%;
}

.section-video .innovation-callout-keyline {
  margin-top: 53px;
  margin-bottom: 31px;
}

.innovation-callout-keyline {
  width: 100%;
  height: 2px;
  margin: 19px 0;
  transform-origin: left;
  background: #f5f5f7;
}

.large-offset-2 {
  margin-left: 16.66667%;
}

.typography-innovation-callout {
  color: #f5f5f7;
  font-size: 32px;
  line-height: 1.125;
  font-weight: 600;
  letter-spacing: 0.004em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

.section-content {
  margin-left: auto;
  margin-right: auto;
  width: 980px;
}

.player__footer {
  z-index: -1;
  position: relative;
  margin-top: 205px;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  z-index: 2000;
  background: #2228bd;;
  pointer-events: none;
  /*mix-blend-mode: difference;*/
}

.button-modal {
  border: 2px solid #1d1d1f;
  transition: all 350ms ease-in-out;
  background: rgba(0, 0, 0, 0);
  color: #1d1d1f;
  font-size: 17px;
  line-height: 1.23536;
  font-weight: 600;
  letter-spacing: -0.022em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  min-width: 26px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 22px;

  border-color: #f5f5f7;
  background: rgba(0, 0, 0, 0);
  color: #f5f5f7;

  display: inline-block;
  margin-top: 30px;
  cursor: pointer;
}

.phone-lockup-container {
  margin-left: auto;
  margin-right: auto;
  width: 980px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.spread-icons {
  background: #fff;
  height: 100vh;
  padding-top: 152px;
}

.spread-icons .image-side-phone-left {
  width: 250px;
  height: 500px;
  background-size: 250px 500px;
  background-repeat: no-repeat;
  background-image: url("./pinned_conversations__bwn8twul4emu_large.jpg");
}

.spread-icons .image-hardware {
  margin: 0 auto;
  width: 248px;
  height: 498px;
  background-size: 248px 498px;
  background-repeat: no-repeat;
  background-image: url("./hardware__f3a2vdz3c8ey_large.png");
  position: relative;
}

.center-phone {
  text-align: center;
}

.side-phone-right {
  text-align: right;
}

.spread-icons .image-side-phone-right {
  margin-left: auto;
  width: 250px;
  height: 500px;
  background-size: 250px 500px;
  background-repeat: no-repeat;
  background-image: url("./app_clips__faiihom6lxei_large.jpg");
}

.spread-icons .content-copy {
  color: #86868b;
  padding-top: 40px;
}

.typography-ios-callout {
  font-size: 17px;
  line-height: 1.23536;
  font-weight: 600;
  letter-spacing: -0.022em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

.spread-icons .phone-lockup {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
}

.spread-icons .screen-container {
  position: absolute;
  top: 12px;
  left: 13px;
  width: 220px;
}

.spread-icons .image-top-ui {
  position: absolute;
  top: 10px;
  left: 18px;

  width: 196px;
  height: 9px;
  background-size: 196px 9px;
  background-repeat: no-repeat;
  background-image: url("./top_ui__elw6ab728hua_large.png");
}

.spread-icons .intro-wallpaper {
  background-repeat: no-repeat;
  background-image: url("./intro_wallpaper__csffxcv6zpme_large.jpg");

  min-height: 0;
  width: 100%;
  height: auto;
  background-size: cover;
  border-radius: 20px;
  overflow: hidden;
}

.spread-icons .intro-wallpaper {
  content: "";
  display: block;
  padding-bottom: 216.38889%;
}

.spread-icons .hardware-container {
  position: relative;
}

.spread-icons .screen {
  position: absolute;
  top: 40px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 90px);
  grid-template-rows: repeat(3, 99px);
  grid-gap: 12px 12px;
  justify-content: center;
  align-content: center;
  z-index: 3;
}

.spread-icons .chiclet-wrap {
  display: grid;
  grid-template-columns: repeat(2, 34px);
  grid-template-rows: repeat(2, 45px);
  grid-gap: 10px 16px;
  justify-content: center;
}

.spread-icons .screen .widget,
.spread-icons .screen .chiclet {
  background-size: 50%;
}

.spread-icons .image-app-chiclet-clock {
  width: 68px;
  height: 90px;
  background-repeat: no-repeat;
  background-image: url("./clock__cw0mrxyi9ree_large.png");
}

.spread-icons .image-app-chiclet-camera {
  width: 68px;
  height: 90px;
  background-repeat: no-repeat;
  background-image: url("./camera__gaz2y5mrghea_large.png");
}

.spread-icons .image-app-chiclet-tv {
  width: 68px;
  height: 90px;
  background-repeat: no-repeat;
  background-image: url("./tv__fvzdvtqns6q2_large.png");
}

.spread-icons .image-app-chiclet-stocks {
  width: 68px;
  height: 90px;
  background-repeat: no-repeat;
  background-image: url("./stocks__f1n2ad3ebw6e_large.png");
}

.spread-icons .image-app-widget-activity {
  width: 178px;
  height: 198px;
  background-size: 178px 198px;
  background-repeat: no-repeat;
  background-image: url("./activity__cmmfnkztfmuu_large.png");
}

.spread-icons .image-app-widget-photos {
  width: 178px;
  height: 198px;
  background-size: 178px 198px;
  background-repeat: no-repeat;
  background-image: url("./photos__epocvc49pswi_large.png");
}
* {
  cursor: none;
}

.test__slide {
  height: 100vh;
  opacity: 0.5;
  position: relative;
}
.text-section {
  width: 100%;
  position: relative;
}
/*.first-screen:after {*/
/*  content: '';*/
/*  width: 100px;*/
/*  height: 50px;*/
/*  background: #7957ff;*/
/*  transform: skewY(30deg);*/
/*  position: absolute;*/
/*  top: 245px;*/
/*  right: 60px;*/
/*  z-index: 1;*/
.started {
  padding: 13px 25px;
  border-radius: 100px;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  background: rgb(230 104 76 / 16%);
  color: #e68c4c;
  margin-left: 30px;
  transition: all .3s ease 0s;
}
.started:after {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 20px;
  display: inline-block;
  margin-left: 10px;
  background: #e68c4c;
  transition: all .3s ease;
  opacity: 1;
}
.started:hover {
  padding: 13px 15px 13px 35px;
  background: rgb(230 104 76 / 16%);
  color: #e68c4c;
}
.started:hover:after {
  transform: translateX(20px);
  opacity: 0;
  background: #e68c4c;
}
nav img {
  filter: sepia(1) brightness(0.9);
}
/*.right-decoration {*/
/*  width: 100px;*/
/*  height: 50px;*/
/*  background: #7a7efd;*/
/*  transform: skewY(25deg);*/
/*  position: fixed;*/
/*  right: 100px;*/
/*  top: 128px;*/
/*}*/
.right-decoration.two {
  right: auto;
  left: 750px;
  top: auto;
  bottom: 50px;
}
.right-decoration:after {
  content: '';
  width: 70px;
  height: 30px;
  background: rgb(122 126 253 / 22%);
  position: absolute;
  right: -70px;
  top: -30px;
  z-index: 1;
}
.right-decoration.two:after {
  right: auto;
  left: -70px;
}
/*.test-text:before {*/
/*  content: '';*/
/*  width: 30%;*/
/*  height: 270px;*/
/*  background: #ffce6c;*/
/*  transform: skewY(25deg);*/
/*  position: fixed;*/
/*  top: 52%;*/
/*  left: 0;*/
/*  z-index: -1;*/
/*}*/
.change-text {
  transform: translateY(-180px);
}
.test-text {
  overflow: hidden;
}
.center .text-two {
  position: absolute;
  bottom: 80px;
}
.center .text-two div {
  /* margin-bottom: 13px; */
  line-height: 1.5em;
}
.center .text-two p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.7em;

}
.logo-sign {
  max-width: 250px;
  margin-bottom: 50px;
}
/*.test-text:after {*/
/*  content: '';*/
/*  width: 17%;*/
/*  height: 250px;*/
/*  border: 2px solid #ffcc57;*/
/*  transform: skewY(25deg);*/
/*  position: fixed;*/
/*  top: 25%;*/
/*  right: -3px;*/
/*  z-index: -1;*/
/*}*/
.test-text .first-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.left, .right {
  width: 400px;
  height: 500px;
  border-radius: 20px;
  background: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  z-index: 20;
  box-shadow: 0 0 100px -10px rgba(15, 9, 49, 0.11);
}
.left span, .right span {
  color: #adadad;
  display: block;
  margin-top: 10px;
  font-weight: 500;
}
.left a, .right a {
  padding: 13px 30px;
  border-radius: 100px;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  margin-top: 20px;
}
.left a:after, .right a:after {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 20px;
  display: inline-block;
  margin-left: 10px;
}
.left a:after {
  background: #e68c4c;
}
.right a:after {
  background: #e68c4c;
}
.left a {
  background: rgb(230 104 76 / 16%);
  color: #e68c4c;
}
.right a {
  background: rgb(230 104 76 / 16%);
  color: #e68c4c;
}
.left h3 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: #4a453f;
  max-width: 230px;
  margin: 0 auto;
}
.right h3 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: #4a453f;
  max-width: 340px;
  margin: 0 auto;
}
.test-text .center {
  font-size: 60px;
  margin: 0 60px;
  font-weight: 900;
  width: 300px;
  height: 500px;
  display: flex;
  position: relative;
  z-index: -1;
  text-align: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform-origin: 50% 50% !important;
  /*color: #2128bd;*/
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 20px;
  /*background: rgba(255, 255, 255, 0.6);*/
  /*backdrop-filter: blur(10px);*/
}
nav div {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
}
nav ul {
  list-style: none;
  font-size: 17px;
  display: flex;
  align-items: center;
}
/*nav ul li {*/
/*  overflow: hidden;*/
/*}*/
nav ul li span {
  color: #4a453f;
  margin-left: 40px;
  font-weight: 600;
  padding: 20px 0;
  position: relative;
  z-index: 100;
  display: inline-block;
  transform-origin: left center;
  transition: all .9s cubic-bezier(.19,1,.22,1);
}
/*nav ul li span:after {*/
/*  content: attr(data-text);*/
/*  display: block;*/
/*  position: absolute;*/
/*  top: 150%;*/
/*  left: 0;*/
/*  color: #2228bd;*/
/*  transform: skewY(30deg);*/
/*  transform-origin: left center;*/
/*  transition: all .9s cubic-bezier(.19,1,.22,1);*/
/*}*/
/*nav ul li:hover span {*/
/*  transform: translateY(-140%) skewY(7deg);*/
/*}*/
/*nav ul li:hover span:after {*/
/*  transform: skewY(-7deg);*/
/*}*/
/*nav ul li:hover {*/
/*  color: #fff;*/
/*}*/
nav h2 {
  font-weight: 900;
  font-size: 30px;
  color: #4a453f;
}
.blend {
  max-width: 1400px;
  margin: 0 auto;
  color: #4a453f;
  /*background: #fff;*/
  /*mix-blend-mode: screen;*/
  z-index: 1;
}
.blend-two {
  color: #000 !important;
  font-size: 100px !important;
  mix-blend-mode: screen;
  background: #fff2f2;
}
.blend-two:before {
  content: "";
  position: absolute;
  top: -1000px;
  left: -1000px;
  right: -1000px;
  bottom: -1000px;
  z-index: -1;
  background: #fff;
}
.blend h1 {
  font-size: 30px;
  line-height: 1em;
  text-align: center;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blend h1 span {
  font-size: 10px;
  text-align: center;
  font-weight: 500;
}
.blend h1 > div {
  position: relative;
  display: inline-block;
}

.shape {
  position: absolute;
  top: -10px;
  left: -5px;
  right: -5px;
  bottom: -50px;
  overflow: hidden;
  background: #2128bd;
}
.shape .shape-1 {
  width: 650px;
  height: 650px;
  margin: -325px 0 0 -325px;
  border-radius: 50%;
  background: #005ffe;
  position: absolute;
  top: 0;
  left: 0;
}
.shape .shape-2 {
  width: 440px;
  height: 440px;
  margin: -220px 0 0 -220px;
  border-radius: 50%;
  background: #ffe5e3;
  position: absolute;
  top: 0;
  left: 0;
}
.shape .shape-3 {
  width: 270px;
  height: 270px;
  margin: -135px 0 0 -135px;
  border-radius: 50%;
  background: #ffcc57;
  position: absolute;
  top: 0;
  left: 0;
}
.colored-section {
  background: #fff2f2;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  text-align: center;
  font-weight: 900;
  overflow: hidden;
  position: relative;
}
.colored-section:before {
  content: '';
  width: 70px;
  height: 30px;
  background: rgb(122 126 251 / 16%);
  transform: skewY(-20deg);
  position: absolute;
  right: 360px;
  bottom: 218px;
  z-index: 20;
}
.colored-section:after {
  content: '';
  width: 131px;
  height: 50px;
  background: #7a7efb;
  transform: skewY(-20deg);
  position: absolute;
  right: 230px;
  bottom: 205px;
  z-index: 20;
}
.colored-section .move-text {
  opacity: 0.1;
  font-size: 200px;
  white-space: nowrap;
  position: absolute;
  top: 10%;
  z-index: 2;
}
.colored-section div {
  font-size: 70px;
  color: #7a7efb;
  line-height: 1em;
  font-weight: 700;
}
.colored-section span {
  color: #2228bd;
  font-size: 25px;
  font-weight: 400;
  display: block;
  margin-top: 40px;
  z-index: 2;
}
body {
  background: #fff;
}
.phone {
  margin-top: -300px;
  position: relative;
}
.front {
  width: 300px;
  height: 610px;
  border-radius: 40px;
  margin: 110px auto;
  background: #fff;
  position: relative;
  z-index: 2;
  overflow: hidden;
  box-shadow: -30px 10px 120px -40px rgb(0 0 0 / 20%), inset 3px 1px 9px 2px #00000014;
  padding: 20px;
}
.front video {
  width: 100%;
}
.back {
  background: #005ffe;
  border-radius: 20px;
  width: 260px;
  height: 455px;
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  margin: auto;
  transform-origin: left bottom;
  z-index: 1;

}
.dot1{
  width: 30px;
  height: 30px;
  position: absolute;
  left: 400px;
  z-index: 2;
  top: 400px;
  background: #ffcc57;
  border-radius: 50%;
}
.dot2{
  width: 25px;
  height: 7px;
  position: absolute;
  right: 400px;
  z-index: 2;
  bottom: 400px;
  background: #7661ff;
}
.dot2:after {
  content: '';
  width: 7px;
  height: 25px;
  position: absolute;
  left: 0;
  right: 0;
  background: #7661ff;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
}
.dot3 {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 700px;
  z-index: 2;
  bottom: 600px;
  background: rgba(254, 159, 95, 0.8);
  border-radius: 50%;
}
.dot4 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 200px;
  bottom: 300px;
  background: transparent;
  border-radius: 2px;
  transform: rotate(30deg);
  z-index: 2;
  border: 5px solid rgb(126, 128, 255);
}
.dot5 {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 200px;
  bottom: 300px;
  background: transparent;
  border-radius: 50%;
  z-index: 2;
  border: 6px solid #ffcc57;
}
.dot6 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 700px;
  bottom: 600px;
  background: transparent;
  z-index: 2;
  border-radius: 2px;
  transform: rotate(30deg);
  border: 5px solid rgba(254, 159, 95, 0.8);
}

/*.dot7{*/
/*  width: 25px;*/
/*  height: 7px;*/
/*  position: absolute;*/
/*  left: 300px;*/
/*  z-index: 2;*/
/*  bottom: 400px;*/
/*  background: #005ffe;*/
/*}*/
/*.dot7:after {*/
/*  content: '';*/
/*  width: 7px;*/
/*  height: 25px;*/
/*  position: absolute;*/
/*  left: 0;*/
/*  right: 0;*/
/*  background: #005ffe;*/
/*  margin: auto;*/
/*  top: 50%;*/
/*  transform: translateY(-50%);*/
/*}*/

.card {
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 0 250px -30px rgb(0 0 0 / 17%);
  position: absolute;
  width: 400px;
  height: 600px;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*.card:before {*/
/*  content: '';*/
/*  position: absolute;*/
/*  top: 10px;*/
/*  left: 10px;*/
/*  bottom: 10px;*/
/*  right: 10px;*/
/*  border-radius: 12px;*/
/*  background: #ffe5e3;*/
/*}*/
/*.card img {*/
/*  max-width: 190px;*/
/*  filter: brightness(100);*/
/*}*/
.card.one {
  left: 10%;
}
.card.two {
  right: 15%;
}
.big-text .big-bg  {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  height: 100vh;
  overflow: hidden;
}
.big-text .big-bg .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 209, 101);
}
.big-text .big-bg .top-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150px;
  color: #fff;
  font-weight: 700;
}
.big-text .big-bg .top-text span {
  position: relative;
  top: 898px;
}
.big-text .text-bg {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.big-text .text-bg .title {
  font-size: 150px;
  color: #382580;;
  font-weight: 700;
  position: relative;
  z-index: 1;
}
.big-text .text-bg .subtext {
  color: #382580;;
  font-weight: 500;
  font-size: 50px;
  text-align: center;
  max-width: 500px;
  margin: 20px auto 0 auto;
}
video {
  max-width: 400px;
}