* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #f5f5f7;
}

.section-5g {
  overflow: hidden;
  background: #000;
  text-align: center;
  min-height: 100vh;
  padding-top: 150px;
  padding-bottom: 500px;
}
.section-5g__heading {
  text-align: center;
  margin-bottom: 115px;
  position: relative;
}

.shade {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  top: 0;
  left: 0;
}

.section-5g__heading h1 {
  color: #6e6e73;
  font-size: 80px;
  line-height: 1.05;
  font-weight: 600;
  letter-spacing: -0.015em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

.section-5g__heading p {
  color: #f5f5f7;
  font-size: 80px;
  line-height: 1.05;
  font-weight: 600;
  letter-spacing: -0.015em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

.section-5g .screen {
  margin: 0 auto;
  width: 770px;
  height: 1336px;
  display: block;
  box-sizing: border-box;
  padding: 80px 20px 20px 20px;
  background: url("./5g_on_phone__qxgc670fz2aa_large.jpg") center center/100%
    auto no-repeat;
}

.downloads {
  padding-left: 75px;
  padding-right: 25px;
}

.download {
  opacity: 0;
  transform: translateY(200px) scaleX(3) scaleY(3);
  list-style-type: none;
}

.screen ul {
  margin-top: 16px;
  border-top: 1px solid rgba(66, 66, 66);
}

.screen li {
  padding: 12px 0;
}

.section-5g .section-intro {
  position: relative;
  z-index: 5;
  margin-top: -170px;
  color: #a1a1a6;
}

.typography-section-intro {
  font-size: 24px;
  line-height: 1.16667;
  font-weight: 600;
  letter-spacing: 0.009em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

.large-centered {
  margin-left: auto;
  margin-right: auto;
}

.large-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.section-5g .innovation-block {
  margin-top: 96px;
}

.section-5g .innovation-block,
.section-5g .modal-button-wrapper {
  position: relative;
  z-index: 5;
}

.innovation-callout {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

.typography-innovation-copy-gradient {
  font-size: 32px;
  line-height: 1.125;
  font-weight: 600;
  letter-spacing: 0.004em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

.gradient-text {
  display: inline-block;
  width: 100%;
  color: transparent;
  background-image: linear-gradient(to right, #005e7f, #61b6cd);
  -webkit-background-clip: text;
  background-clip: text;
}

.player-wrapper__player,
#player {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.section-video .section-headline {
  color: #86868b;
}

.player__slide {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.player__slides {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.player-wrapper__ui,
.player-wrapper__hardware {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.player-wrapper__ui {
  width: 220%;
  height: 220%;
  background: url("./video_edit_screen__ejj4z8l3wok2_large.jpg") center
    center/100% auto no-repeat;
}
.player-wrapper__hardware {
  width: 230%;
  height: 230%;
  background: url("./video_edit_hardware_zoomed__ffv2319j68i2_large.png") center
    center/100% auto no-repeat;
}

.player__heading {
  color: #f5f5f7;
  flex-direction: column;
  padding-left: 20%;
  padding-top: 20%;
  /* background-color: rgba(0, 0, 0, 0.8); */
}

.typography-section-headline-elevated-alt-2 {
  font-size: 80px;
  line-height: 1.05;
  font-weight: 600;
  letter-spacing: -0.015em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

.player__text {
  color: #fff;
  /* background-color: rgba(0, 0, 0, 0.8); */
  display: flex;
  align-items: center;

  font-size: 32px;
  line-height: 1.125;
  font-weight: 600;
  letter-spacing: 0.004em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  padding-left: 20%;
}

.player__text p {
  max-width: 58.33333%;
}

.player__heading,
.player__text {
  pointer-events: none;
}

.typography-section-headline-alt {
  max-width: 50%;
  color: #f5f5f7;
  font-size: 64px;
  line-height: 1.0625;
  font-weight: 600;
  letter-spacing: -0.009em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

.typography-section-intro-reduced {
  max-width: 50%;
  color: #86868b;
  margin-top: 25px;
  font-size: 24px;
  line-height: 1.16667;
  font-weight: 600;
  letter-spacing: 0.009em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

.large-4 {
  flex-basis: 33.33333%;
  max-width: 33.33333%;
}

.section-video .innovation-callout-keyline {
  margin-top: 53px;
  margin-bottom: 31px;
}

.innovation-callout-keyline {
  width: 100%;
  height: 2px;
  margin: 19px 0;
  transform-origin: left;
  background: #f5f5f7;
}

.large-offset-2 {
  margin-left: 16.66667%;
}

.typography-innovation-callout {
  color: #f5f5f7;
  font-size: 32px;
  line-height: 1.125;
  font-weight: 600;
  letter-spacing: 0.004em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

.section-content {
  margin-left: auto;
  margin-right: auto;
  width: 980px;
}

.player__footer {
  z-index: -1;
  position: relative;
  margin-top: 250px;
  height: auto;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  z-index: 2000;
  background: #fff;
  pointer-events: none;
  mix-blend-mode: difference;
}

.button-modal {
  border: 2px solid #1d1d1f;
  transition: all 350ms ease-in-out;
  background: rgba(0, 0, 0, 0);
  color: #1d1d1f;
  font-size: 17px;
  line-height: 1.23536;
  font-weight: 600;
  letter-spacing: -0.022em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  min-width: 26px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 22px;

  border-color: #f5f5f7;
  background: rgba(0, 0, 0, 0);
  color: #f5f5f7;

  display: inline-block;
  margin-top: 30px;
  cursor: pointer;
}

.phone-lockup-container {
  margin-left: auto;
  margin-right: auto;
  width: 980px;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.spread-icons {
  background: #fff;
  height: 100vh;
  overflow: hidden;
}

.spread-icons .image-side-phone-left {
  width: 250px;
  height: 500px;
  background-size: 250px 500px;
  background-repeat: no-repeat;
  background-image: url("./pinned_conversations__bwn8twul4emu_large.jpg");
}

.spread-icons .image-hardware {
  margin: 0 auto;
  width: 248px;
  height: 498px;
  background-size: 248px 498px;
  background-repeat: no-repeat;
  background-image: url("./hardware__f3a2vdz3c8ey_large.png");
  position: relative;
}

.center-phone {
  text-align: center;
  z-index: 1;
}

.side-phone-right {
  text-align: right;
}

.spread-icons .image-side-phone-right {
  margin-left: auto;
  width: 250px;
  height: 500px;
  background-size: 250px 500px;
  background-repeat: no-repeat;
  background-image: url("./app_clips__faiihom6lxei_large.jpg");
}

.spread-icons .content-copy {
  color: #86868b;
  padding-top: 40px;
}

.typography-ios-callout {
  font-size: 17px;
  line-height: 1.23536;
  font-weight: 600;
  letter-spacing: -0.022em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

.spread-icons .phone-lockup {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
}

.spread-icons .screen-container {
  position: absolute;
  top: 12px;
  left: 13px;
  width: 220px;
}

.spread-icons .image-top-ui {
  position: absolute;
  top: 10px;
  left: 18px;

  width: 196px;
  height: 9px;
  background-size: 196px 9px;
  background-repeat: no-repeat;
  background-image: url("./top_ui__elw6ab728hua_large.png");
}

.spread-icons .intro-wallpaper {
  background-repeat: no-repeat;
  background-image: url("./intro_wallpaper__csffxcv6zpme_large.jpg");

  min-height: 0;
  width: 100%;
  height: auto;
  background-size: cover;
  border-radius: 20px;
  overflow: hidden;
}

.spread-icons .intro-wallpaper {
  content: "";
  display: block;
  padding-bottom: 216.38889%;
}

.spread-icons .hardware-container {
  position: relative;
}

.spread-icons .screen {
  position: absolute;
  top: 40px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 90px);
  grid-template-rows: repeat(3, 99px);
  grid-gap: 12px 12px;
  justify-content: center;
  align-content: center;
  z-index: 3;
}

.spread-icons .chiclet-wrap {
  display: grid;
  grid-template-columns: repeat(2, 34px);
  grid-template-rows: repeat(2, 45px);
  grid-gap: 10px 16px;
  justify-content: center;
}

.spread-icons .screen .widget,
.spread-icons .screen .chiclet {
  background-size: 50%;
}

.spread-icons .image-app-chiclet-clock {
  width: 68px;
  height: 90px;
  background-repeat: no-repeat;
  background-image: url("./clock__cw0mrxyi9ree_large.png");
}

.spread-icons .image-app-chiclet-camera {
  width: 68px;
  height: 90px;
  background-repeat: no-repeat;
  background-image: url("./camera__gaz2y5mrghea_large.png");
}

.spread-icons .image-app-chiclet-tv {
  width: 68px;
  height: 90px;
  background-repeat: no-repeat;
  background-image: url("./tv__fvzdvtqns6q2_large.png");
}

.spread-icons .image-app-chiclet-stocks {
  width: 68px;
  height: 90px;
  background-repeat: no-repeat;
  background-image: url("./stocks__f1n2ad3ebw6e_large.png");
}

.spread-icons .image-app-widget-activity {
  width: 178px;
  height: 198px;
  background-size: 178px 198px;
  background-repeat: no-repeat;
  background-image: url("./activity__cmmfnkztfmuu_large.png");
}

.spread-icons .image-app-widget-photos {
  width: 178px;
  height: 198px;
  background-size: 178px 198px;
  background-repeat: no-repeat;
  background-image: url("./photos__epocvc49pswi_large.png");
}

.spread-icons .image-app-chiclet-mail {
  width: 68px;
  height: 90px;
  background-size: 68px 90px;
  background-repeat: no-repeat;
  background-image: url("./mail__b6svc7vg3qqa_large.png");
}

.spread-icons .image-app-chiclet-files {
  width: 68px;
  height: 90px;
  background-size: 68px 90px;
  background-repeat: no-repeat;
  background-image: url("./files__bhil8baqqzgy_large.png");
}

.spread-icons .image-app-chiclet-appstore {
  width: 68px;
  height: 90px;
  background-size: 68px 90px;
  background-repeat: no-repeat;
  background-image: url("./appstore__garf9gmpdram_large.png");
}

.spread-icons .image-app-chiclet-weather {
  width: 68px;
  height: 90px;
  background-size: 68px 90px;
  background-repeat: no-repeat;
  background-image: url("./weather__bmgpdqv01biu_large.png");
}

.spread-icons .image-app-chiclet-health {
  width: 68px;
  height: 90px;
  background-size: 68px 90px;
  background-repeat: no-repeat;
  background-image: url("./health__fsesu5xvsvqu_large.png");
}

.spread-icons .image-app-chiclet-home {
  width: 68px;
  height: 90px;
  background-size: 68px 90px;
  background-repeat: no-repeat;
  background-image: url("./home__bnegc0h7tryq_large.png");
}

.spread-icons .image-app-chiclet-news {
  width: 68px;
  height: 90px;
  background-size: 68px 90px;
  background-repeat: no-repeat;
  background-image: url("./news__etnu2ocreuc2_large.png");
}

.spread-icons .image-app-chiclet-photos {
  width: 68px;
  height: 90px;
  background-size: 68px 90px;
  background-repeat: no-repeat;
  background-image: url("./photos__epocvc49pswi_large1.png");
}

.spread-icons .image-app-widget-music {
  width: 178px;
  height: 198px;
  background-size: 68px 90px;
  background-repeat: no-repeat;
  background-image: url("./music__f4xl0wbehwey_large.png");
}

.spread-icons .image-dock {
  position: absolute;
  bottom: 8px;
  left: 8px;

  width: 206px;
  height: 83px;
  background-size: 206px 83px;
  background-repeat: no-repeat;
  background-image: url("./dock__c2ezitvt0lci_large.png");
}

.test__slide {
  height: 100vh;
  opacity: 0.5;
  position: relative;
}

.spread-icons .section-content {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  width: 980px;
  text-align: center;
  pointer-events: none;
}

.spread-icons .icon-eyebrow-wrapper {
  position: relative;
}

.spread-icons .icon-eyebrow-wrapper {
  position: relative;
}

.spread-icons .icon-eyebrow-wrapper h2 {
  position: absolute;
  width: 97px;
  height: 97px;
  background-size: 97px 97px;
  background-repeat: no-repeat;
  background-image: url("./icon__dsa21udnvp2e_large.png");
  position: relative;
  left: 50%;
  margin-left: -48.5px;
  color: #fff;
}

.spread-icons .typography-section-intro-reduced {
  margin-top: 30px;
  color: #f5f5f7;
  font-size: 24px;
  line-height: 1.16667;
  font-weight: 600;
  letter-spacing: 0.009em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

.spread-icons .typography-section-headline-elevated-alt-2 {
  font-size: 80px;
  line-height: 1.05;
  font-weight: 600;
  letter-spacing: -0.015em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  color: #f5f5f7;
  margin-top: 19px;
}

.header {
  height: 100vh;
  background: #fff;
  font-family: sans-serif;
}

.header__container {
  display: flex;
  max-width: 1230px;
  margin: 0 auto;
  height: 100%;
  align-items: center;
  padding: 0 15px;
}

.header__container > div {
  flex: 1 1 50%;
  max-width: 50%;
}

.header__block_one {
  margin-bottom: -50%;
}
.header__block_two {
  margin-top: -50%;
}

.header h1 {
  color: #54575a;
  font-size: 71px;
  font-weight: 700;
  line-height: 71px;
}

.header p {
  color: #6e7272;
  font-size: 28px;
  width: 380px;
  margin: 32px 0;
}

.header__screen {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 50%;
  height: 100%;
}

.header__screen .header__video-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.header__video-wrapper video {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__ui {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.header__screen svg {
  position: absolute;
  top: 0;
  left: 0;
}

.Advisors__advisor:first-of-type .Advisors__image {
  top: -23%;
  left: 80%;
  transform: scale(0.8);
}

.Advisors__advisor:nth-of-type(2) .Advisors__image {
  top: -2%;
  left: -15%;
  transform: scale(0.9);
}

.Advisors__advisor:nth-of-type(3) .Advisors__image {
  top: 3%;
  left: 80%;
}

.Advisors__image {
  position: relative;
  width: 33%;
  overflow: hidden;
  border-radius: 999px;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
  transform-origin: 50% 50%;
  cursor: pointer;
}

.Advisors__image img {
  max-width: 100%;
  height: auto;
  border: 0;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.Advisors {
  position: absolute;
  width: 100%;
  height: 100%;
}

.flex-col {
  flex-direction: column;
}

.Advisors__advisor {
  width: 100%;
  height: 33%;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .header {
    text-align: center;
    height: auto;
  }

  .header__video-wrapper {
    display: none;
  }

  .header p {
    width: auto;
    max-width: 531px;
    padding: 0 15px;
    margin: 32px auto;
  }

  .header h1 {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
  }

  .header__container {
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .header__block_one {
    margin-top: 60px;
    margin-bottom: 0;
  }

  .header__block_two {
    margin-top: 0;
  }

  .header__container > div {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .header__screen {
    width: 100%;
    position: relative;

    border-radius: 30px;
    height: 626px;
    width: 300px;
    box-shadow: rgba(64, 62, 61, 0.15) 0px 5px 15px;

    margin: 0 auto;
    top: 0;
    right: 0;
  }

  .header__screen svg {
    position: relative;
  }

  .Advisors {
    position: relative;
  }
}

a,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

nav {
  position: relative;
  z-index: 2;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-family: sans-serif;
  line-height: 50px;
  list-style-type: none;
  margin-bottom: -50px;
}

.home {
  background: #000;
}

.test1 {
  background: #ccc;
  color: #000;
}

.test2 {
  background: aquamarine;
  color: #000;
}

.page-overlay {
  /* width: 500px;
    height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    pointer-events: none; */

  width: 150vw;
  height: 150vw;
  position: fixed;
  top: 200%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;
  transition: transform 0.3s, opacity 0.1s;
}

.page-overlay.large {
  /* width: 100%;
    height: 100%;
    border-radius: 0; */
  top: 50%;
}

main {
  min-height: 100vh;
  padding-top: 50px;
}

.coin {
  width: 435px;
  height: 416px;
  overflow: hidden;
  margin: 0 auto;
}

.coin img {
  transform: translate(0, 0);
  height: 100%;
}

.logo-spin,
.logo-spin-coin {
  width: 800px;
  margin: 0 auto;
  display: block;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3000;
}

.loader__base {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #d6c2be;
}

.loader__done {
  pointer-events: none;
}

.loader__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  background: #e6d1cc;
}
.overlay {
  height: 100%;
  background: #bfadaa;
  display: block;
  position: absolute;
  width: 100%;
}
.last {
  height: 100%;
  background: #a29390;
  display: block;
  position: absolute;
  width: 100%;
}

.loader svg,
.loader img {
  width: 30%;
  max-width: 150px;
}

.loader img {
  filter: drop-shadow(0px 0px 36px rgba(255, 255, 255, 0.2));
}
.st0 {
  stroke-width: 8px !important;
}
.loader img {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
}

.loader .shape0 {
  stroke-dasharray: 2451px;
  stroke-dashoffset: 2451px;
}

.loader .shape1 {
  stroke-dasharray: 3176px;
  stroke-dashoffset: 3176px;
}

.images-section {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.images-wrapper {
  background: #999;
  width: 200%;
  height: 200%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.images-card {
  width: 300px;
  height: 300px;
  background: #fff;
  position: absolute;
}

.images-card:nth-of-type(1) {
  top: calc(50% - 350px);
  left: calc(50% - 350px);
}

.images-card:nth-of-type(2) {
  top: calc(50% + 150px);
  left: calc(50% + 150px);
}

.images-card:nth-of-type(3) {
  top: calc(50% - 250px);
  left: calc(50% + 150px);
}

.images-card:nth-of-type(4) {
  top: calc(50% + 100px);
  left: calc(50% - 200px);
}

.images-card:nth-of-type(5) {
  top: calc(50% + 135px);
  left: calc(50% - 550px);
}

.images-heading {
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.coin-header {
  height: 100vh;
}

.coin-header h1 {
  font-size: 50px;
  font-family: sans-serif;
  text-align: center;
}

.logo-scale {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  /*background: #005e7f;*/
}

.logo-scale__logo span:after {
  content: "";
  width: 230px;
  height: 112px;
  position: absolute;
  z-index: 20;
  border-top-left-radius: 175px;
  border-top-right-radius: 175px;
  top: 230px;
  right: -20px;
  transform: scale(1.5);
  border-width: 60px 60px 60px;
  border-style: solid solid none;
  border-color: #262626 #262626 #262626;
  border-image: initial;
  border-bottom: none;
  background: #262626;
}
.logo-scale__logo span:before {
  content: "";
  width: 190px;
  height: 112px;
  position: absolute;
  z-index: 20;
  border-top-left-radius: 175px;
  border-top-right-radius: 175px;
  bottom: 160px;
  left: 200px;
  transform: scale(0.4) rotate(-90deg);
  border-width: 80px;
  border-style: solid solid none;
  border-color: #3c7a84 #3c7a84 #3c7a84;
  border-image: initial;
  border-bottom: none;
}

.logo-scale__logo .filler:after {
  content: "";
  width: 230px;
  height: 112px;
  position: absolute;
  z-index: 20;
  border-top-left-radius: 175px;
  border-top-right-radius: 175px;
  bottom: 60px;
  left: 274px;
  transform: scale(0.2) rotate(180deg);
  border-width: 60px 60px 60px;
  border-style: solid solid none;
  border-color: #9c8374 #9c8374 #9c8374;
  border-image: initial;
  border-bottom: none;
  background: #9c8374;
}

.logo-scale__logo {
  /* border: 10px solid #000; */
  /* border-radius: 10px;
  width: 350px;
  height: 350px; */
  color: #fff;
  font-size: 60px;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  position: relative;

  width: 100%;
  height: 100%;
}

.logo-scale__logo span {
  position: relative;
  z-index: 1;

  color: #000 !important;
  font-size: 100px !important;
  /* mix-blend-mode: screen; */
  /* background: #b73c3c; */
  display: block;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  transform-origin: 50% 52%;
}

/* .logo-scale__logo span:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: #fff;
} */

.logo-scale__video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
}

.logo-scale__video video {
  width: 1920px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.logo-scale svg {
  /*background: #d0ac96;*/
  width: 450px;
  height: 432px;
}

.filler {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #1a1a1a;
  z-index: -1;
}
